# Mac files
.idea
.DS_store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints


# folder with data
data/

# pyenv
.python-version

# Environments
.env
.venv

# Pytest files
.pytest_cache

# gDrive Secrets
client_secrets.json
